// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Vontar H618 TV box.
 *
 * SoC:      Allwinner H618 (quad Cortex-A53)
 * RAM:      4 GB DDR3
 * eMMC:     128 GB (on mmc2, 8-bit HS200)
 * Network:  100 Mbit RMII PHY on EMAC1
 * Wireless: SDIO Wi-Fi on mmc1 + BT on UART1 (bcm43438 family)
 * Video:    HDMI output (DE33 pipeline)
 * USB:      1 × USB 2.0 host port (ehci1/ohci1) + micro-USB OTG (usbotg)
 * PMIC:     X-Powers AXP313a on r_i2c
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Vontar H618";
	compatible = "vontar,h618", "allwinner,sun50i-h618";

	aliases {
		ethernet0 = &emac1;
		ethernet1 = &sdio_wifi;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* HDMI connector (Type-A) */
	connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	/* Board 5 V rail coming from the DC jack */
	reg_vcc5v: regulator-vcc5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/*
	 * Wi-Fi / BT module power.
	 * WL_REG_ON is PG18, pulled high to enable the 3.3 V rail that feeds
	 * both the Wi-Fi chip's VBAT and the BT VDDIO.
	 */
	reg_vcc_wifi: regulator-vcc-wifi {
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&pio 6 18 GPIO_ACTIVE_HIGH>; /* PG18 */
		vin-supply = <&reg_dldo1>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&x32clk_fanout_pin>;
	};
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&de {
	status = "okay";
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_aldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&emac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&rmii_phy>;
	phy-supply = <&reg_aldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&mdio1 {
	rmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mmc0 {
	vmmc-supply = <&reg_dldo1>;
	/* SD-card detect line is unreliable on this board */
	broken-cd;
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc_wifi>;
	vqmmc-supply = <&reg_vcc_wifi>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	sdio_wifi: wifi@1 {
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 15 IRQ_TYPE_LEVEL_LOW>; /* PG15 WL_HOSTWAKE */
		interrupt-names = "host-wake";
	};
};

&mmc2 {
	vmmc-supply = <&reg_dldo1>;
	vqmmc-supply = <&reg_aldo1>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	status = "okay";
};

&pio {
	vcc-pc-supply = <&reg_aldo1>; /* PC bank feeds eMMC (1.8 V) */
	vcc-pf-supply = <&reg_dldo1>; /* PF bank feeds SD */
	vcc-pg-supply = <&reg_dldo1>; /* PG bank: Wi-Fi/BT, mmc1 */
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>; /* PI bank: RMII lines */
};

&r_i2c {
	status = "okay";

	axp313: pmic@36 {
		compatible = "x-powers,axp313a";
		reg = <0x36>;
		#interrupt-cells = <1>;
		interrupt-controller;

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <990000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vdd-dram";
			};

			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3";
			};
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

/* UART1 – Bluetooth (bcm43438) */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>, <&uart1_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "lpo";
		vbat-supply = <&reg_vcc_wifi>;
		vddio-supply = <&reg_vcc_wifi>;
		device-wakeup-gpios = <&pio 6 17 GPIO_ACTIVE_HIGH>; /* PG17 */
		host-wakeup-gpios   = <&pio 6 16 GPIO_ACTIVE_HIGH>; /* PG16 */
		shutdown-gpios      = <&pio 6 19 GPIO_ACTIVE_HIGH>; /* PG19 */
	};
};

/*
 * The TV box has exactly one external USB 2.0 type-A port and an
 * (optional) micro-USB OTG that is usually wired as peripheral.
 * Only the first EHCI/OHCI pair is actually routed to the type-A port;
 * however the H616 USB PHY driver requires all ports to be either
 * enabled or left disabled together when they share clocks, so we
 * enable ehci0/ohci0 and ehci1/ohci1 (the ones that are commonly used
 * on Vontar boards) and leave the rest off.
 */
&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&usbotg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&ir {
	status = "okay";
};
